.Section_Presentation{
    padding-top:70px;
    padding-bottom:180px;
    background-image: url("/images/background_header_accueil.webp");
    background-size:cover;
    background-position:50% 30%;
}
.Section_Presentation .content{
    padding:0;   
}

.Section_Presentation h1{
    text-align:center;
    color:white;
    margin-top:15px;
}
.Section_Presentation h2{
    text-align:center;
    margin-top:0;
    color:#90caf9;
}


.Presentation_Professionnel,
.Presentation_Particuliers{
    float:left;
    width:calc(50% - 15px);
}
.Presentation_Professionnel{
    margin-right:15px;
}
.Presentation_Particuliers{
    margin-left:15px;
}

.Section_Presentation h3{
    font-family:Montserrat;
    font-weight:500;
    text-transform:uppercase;
    color:#252525;
    letter-spacing:1px;
    margin:0;
    line-height:25px;
    font-size:1.2em;
}
.Section_Presentation article{
    font-family:Montserrat;
    font-weight:300;
    font-size:0.9em;
    line-height:25px;
    margin-top:15px;
}
.Section_Presentation article .italic{
    font-style:italic;
}
.Section_Presentation article .gras{
    font-weight:500;
}

.Presentation_Professionnel h3,
.Presentation_Professionnel article{
    text-align:right;
}


#button_simulateur{
    float:left;
    width:200px;
    margin-left:calc((100% - 200px) / 2);
    font-size:1.3em;
}
#legende_simulateur{
    float:left;
    width:100%;
    font-style:italic;
    font-family:Roboto;
    font-weight:300;
    line-height:31px;
    text-align:center;
}