.Form_calculateur_cmu_lamal,
.Recapitulatif_prix_cmu_lamal{
    float:left;
    width:400px;
    margin-left:calc((100% - 400px) / 2);
}

.Form_calculateur_cmu_lamal{
    margin-top:50px;
}

.form_date_effet{
    width:100%;
}
.form_age_adherent{
    width:50%;
}
.form_revenu_fiscal{
    width:50%;
    padding-left:10px;
}

.form_prix_cmu{
    border-left:2px solid #D32F2F;
    padding-left:10px;
    width:calc(50% - 15px);
}
.form_prix_cmu label{
    line-height:10px;
    margin-bottom:5px;
    color:#D32F2F;
    font-weight:500;
}
.form_prix_cmu ._content{
    border:2px solid #D32F2F;
    color:#D32F2F;
    font-weight:500;
}

.form_prix_lamal{
    border-left:2px solid #2196F3;
    padding-left:10px;
    margin-left:30px;
    width:calc(50% - 15px);
}
.form_prix_lamal label{
    line-height:10px;
    margin-bottom:5px;
    color:#2196F3;
    font-weight:500;
}
.form_prix_lamal ._content{
    border:2px solid #2196F3;
    color:#2196F3;
    font-weight:500;
}
.form_prix_lamal .info{
    font-size:0.7em;
    line-height:10px;
    color:#2196F3;
}

.Recapitulatif_prix_cmu_lamal{
    margin-top:35px;
}

.calculer_cmu_lamal{
    font-size:1.2em;
    width:150px;
    margin-left:calc((100% - 150px) / 2);
}


.Form_adhesion_en_ligne{
    margin-top:65px;
    padding:20px;
    border:5px solid #eeeeee;
}

.Form_adhesion_en_ligne h1{
    margin-top:0;
    color:black;
    text-align:left;
    font-family:Roboto Slab;
    font-size:2em;
    line-height:25px;
}
.Form_adhesion_en_ligne h2{
    text-align:left;
    color:#90caf9;
    font-size:1.4em;
}

.Form_identite_adherent{
    margin-top:90px;
}
.form_prenom{
    padding-left:10px;
}
.form_nom{
    padding-left:10px;
}

.Form_adherents{
    margin-top:90px;
}

.button_add_conjoint,
.button_add_enfant{
    color:#81d4fa;
    font-family:Roboto;
    font-weight:600;
}
.button_add_conjoint:hover,
.button_add_enfant:hover{
    cursor:pointer;
    color:#29b6f6;
}

.Adherent .form_date_naissance{
    width:150px;
}
.Adherent .form_regime_obligatoire{
    width:250px;
    padding-left:10px;
}
.Adherent .form_departement{
    width:100px;
    padding-left:10px;
}
.Adherent .form_csp{
    width:calc(100% - 535px);
    padding-left:10px;
}

.Adherent.enfant .form_csp{
    display:none;
}

.button_delete_adherent{
    float:left;
    width:35px;
    text-align:center;
    color:#dedede;
    line-height:45px;
    margin-top:25px;
    padding-left:10px;
}
.button_delete_adherent:hover{
    cursor:pointer;
    color:#29b6f6;
}

.Form_pack_hospi{
    margin-top:90px;
}

.form_etendu_couverture{
    padding-left:10px;
}

.send_form_assurance_frontaliers{
    font-size:1.2em;
    width:150px;
    margin-left:calc((100% - 150px) / 2);
}

.Form_rappel,
.Form_confirmation_envoi{
    margin-top:90px;
}

.Form_confirmation_envoi{
    display:none;
}
.Form_confirmation_envoi article{
    text-align:left;
}

.form_regime_base{
    width:200px;
}
.form_date_effet_contrat{
    width:200px;
    padding-left:10px;
}