.Section_Presentation{
    padding-bottom:35px;
}

.introduction_produit{
    float:left;
    width:100%;
    text-align:center;
    margin-top:35px;
}

.Form_identitee{
    margin-top:45px;
}