.intro{
    float:left;
    width:100%;
    background-color:#ffd400;
    font-size:16px;
    line-height:24px;
    padding:30px 25px;
}

.intro h3{
    font-size:26px;
    font-weight:700;
}
.intro p{
    float:left;
    width:100%;
    margin-top:25px;
    line-height:30px;
    margin-bottom:0;
}