.Form.Form_account ._form{
    width:100%;
}
.Form.Form_account ._form input,
.Form.Form_account ._form ._content{
    width:250px;
}

.Form.Form_account ._form input{
    display:none;
}
.Form.Form_account ._form.active input{
    display:block;
}
.Form.Form_account ._form.active ._content{
    display:none;
}


.Form_account ._form button{
    float:left;
    width:auto;
    background-color:transparent;
    border:none;
    line-height:45px;
    font-weight:700;
    font-size:16px;
}