.form_raison_sociale{
    width:65%;
}
.form_sigle_enseigne{
    width:35%;
    padding-left:10px;
}

.form_adresse{
    width:100%;
}
.form_code_postal{
    width:25%;
    max-width:150px;
}
.form_ville{
    width:75%;
    max-width:350px;
    padding-left:10px;
}

.form_telephone{
    width:50%;
    max-width:350px;
}
.form_email{
    width:50%;
    max-width:350px;
    padding-left:10px;
}
.form_interlocuteur{
    width:65%;
}
.form_fonction{
    width:35%;
    padding-left:10px;
}
@media all and (max-width:700px){
    .form_telephone{
        width:100%;
    }
    .form_email{
        width:100%;
        padding-left:0;
    }
    .form_interlocuteur{
        width:100%;
    }
    .form_fonction{
        width:100%;
        padding-left:0;
    }
}



.form_activite{
    width:65%;
}
.form_code_naf{
    width:35%;
    padding-left:10px;
}
.form_forme_juridique{
    width:150px;
}
.form_siret{
    width:250px;
    padding-left:10px;
}
.form_convention_collective{
    width:65%;
}
.form_nb_salaries_college{
    width:35%;
    padding-left:10px;
}
.form_date_effet_souhaitee{
    width:150px;
}
@media all and (max-width:700px){
    .form_activite{
        width:100%;
    }
    .form_code_naf{
        width:100%;
        padding-left:0;
    }
    .form_forme_juridique{
        width:100%;
    }
    .form_siret{
        width:100%;
        padding-left:0;
    }
    .form_convention_collective{
        width:100%;
    }
    .form_nb_salaries_college{
        width:100%;
        padding-left:0;
    }
    .form_date_effet_souhaitee{
        width:100%;
    }
}

.form_categorie_salaries{
    width:350px;
}
.form_nombre_salaries{
    width:150px;
    padding-left:10px;
}
.form_age_moyen{
    width:150px;
    padding-left:10px;
}
@media all and (max-width:700px){
    .form_categorie_salaries{
        width:100%;
    }
    .form_nombre_salaries{
        width:50%;
        padding-left:0;
    }
    .form_age_moyen{
        width:50%;
        padding-left:10px;
    }
}


.Form_sante_collective article,
.Form_prevoyance_collective article{
    text-align:left;
    margin-top:15px;
    font-family:Roboto;
    font-weight:500;
}
.Form_sante_collective .info{
    line-height:10px;
    color:#2196F3;
}

._content_liste_notes .form{
    width:50%;
}
._content_liste_notes .form select{
    width:70px;
}
@media all and (max-width:700px){
    ._content_liste_notes .form{
        width:100%;
    }
    ._content_liste_notes .form select{
        width:100%;
    }
}

.button_add_categorie{
    color:#81d4fa;
    font-family:Roboto;
    font-weight:600;
    margin-top:15px;
}
.button_add_categorie:hover{
    cursor:pointer;
    color:#29b6f6;
}

.Form_sante_collective{
    float:left;
    width:100%;
    border-top:3px solid #dedede;
    margin-top:35px;
    padding-top:35px;
}
.Form_sante_collective:first-child{
    border-top:none;
    margin-top:0;
    padding-top:0;
}

.form_accord_branche_prevoyance{
    width:50%;
}
.form_details_accord_branche_prevoyance{
    width:50%;
    padding-left:10px;
}

.form_commentaire{
    width:100%;
}
.form_commentaire textarea{
    width:100%;
    height:150px;
}

.form_prevoyance_deces{
    width:25%;
}
.form_rente_education{
    width:25%;
    padding-left:10px;
}
.form_allocation_obseques{
    width:25%;
    padding-left:10px;
}
.form_rente_orphelin{
    width:25%;
    padding-left:10px;
}
.form_incapacite_invalidite{
    width:25%;
}
.form_rente_conjoint{
    width:25%;
    padding-left:10px;
}

#envoyer_devis_sante_collective{
    font-size:1.2em;
    float:left;
    width:200px;
    margin-left:calc((100% - 200px) / 2);
    margin-top:45px;
}

.Form_confirmation_envoi{
    display:none;
}

@media all and (max-width:700px){
    .form_accord_branche_prevoyance{
        width:100%;
    }
    .form_details_accord_branche_prevoyance{
        width:100%;
        padding-left:0;
    }
    .form_prevoyance_deces{
        width:100%;
    }
    .form_rente_education{
        width:100%;
        padding-left:0;
    }
    .form_allocation_obseques{
        width:100%;
        padding-left:0;
    }
    .form_rente_orphelin{
        width:100%;
        padding-left:0;
    }
    .form_incapacite_invalidite{
        width:100%;
    }
    .form_rente_conjoint{
        width:100%;
        padding-left:0;
    }
}