nav{
    float:left;
    width:100%;
    height:80px;
    background-color:white;
    border-bottom:1px solid #e8e8e8;
}
nav .content{
    padding:0;
}

nav ul{
    float:left;
    width:auto;
    list-style-type:none;
    margin:0;
}
nav ul li{
    display:inline;
}
nav ul li a{
    float:right;
    width:auto;
    margin: 0 15px;
    color:#212529;
    line-height:24px;
    font-size:15px;
    text-transform:uppercase;
    font-weight:500;
    margin-top:calc((80px - 24px) / 2);
    border-bottom:2px solid transparent;
}
body.journey_mode nav ul li a:hover{
    color:#212529;
    border-bottom:2px solid #ffd400;
}
body.night_mode nav ul li a:hover{
    color:#212529;
    border-bottom:2px solid #2e4482;
}

.logo_menu{
    float:left;
    height:42px;
    width:auto;
    vertical-align:middle;
    margin-top:calc((80px - 42px) / 2);
    margin-left:-30px;
    border-right: 1px solid #dedede;
    padding-right: 40px;
}