#container-image-machine{
    height:48vh;
    float:left;
    width:100%;
    background-position:center;
    background-size: auto 85%;
}
.container-descriptif-machine,
.container-liste-moyens-techniques-utilises{
    width:25%;
    margin-top:-38vh;
}
.container-descriptif-machine{
    float:left;
}
.container-descriptif-machine h3{
    float:right;
}
.container-descriptif-machine ul{
    text-align:right;
}
.container-descriptif-machine span{
    float:left;
    width:100%;
    text-align:right;
    font-family:'Montserrat';
    font-weight:300;
    font-size: 1em;
    color:white;
    margin-top:25px;
    line-height:25px;
}
.container-liste-moyens-techniques-utilises{
    float:right;
}
.container-liste-moyens-techniques-utilises h3{
    margin-top:0;
    float:left;
    font-size:1em;
}
.container-liste-moyens-techniques-utilises h3 span{
    float:left;
    background-color:#1A171B;
    color:white;
    border-radius:3px;
    font-family:'Montserrat';
    font-weight:600;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 0px 7px;
}
.secondeLine{
    margin-top:-3px;
}
#container-designation-machine{
    margin-top:35px;
    margin-bottom: 50px;
    width:370px;
    margin-left:auto;
}
.designation-machine{
    float: left;
    width: 300px;
    color: white;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 5px;
    background-color: #009EE0;
    border-radius: 5px;
    line-height: 42px;
    text-align: center;
    padding: 0 15px;
    height:42px;
}
.fleche-gauche,
.fleche-droite{
    float:left;
    width:30px;
    height:42px;
    background-size:contain;
    background-repeat:no-repeat;
}
.fleche-gauche:hover,
.fleche-droite:hover{
    cursor:pointer;
    opacity:0.5;
}
.fleche-gauche{
    background-image:url("/images/fleche-gauche.svg");
    margin-right:5px;
}
.fleche-droite{
    background-image:url("/images/fleche-droite.svg");
    margin-left:5px;
}
.item-carousel{
    display:none;
    float:left;
    width:100%;
}
.item-carousel:first-child{
    display:block;
}
#carousel-realisations{
    float:left;
    display:none;
}
@media all and (min-width: 1080px){
    #carousel-realisations{
        display:block;
    }
}
#indicateur-page-carousel{
    float:left;
    width:100%;
    color:white;
    text-align:center;
    letter-spacing:2px;
    margin-top:-30px;
}
#container-realisations{
    float:left;
    width:100%;
    display:none;
}
@media all and (max-width: 1080px){
    #container-realisations{
        display:block;
    }
}
.itemRealisationMobile{
    float:left;
    width:100%;
    margin-top:25px;
}
.itemRealisationMobile .container-descriptif-machine{
    width:100%;
    margin-top:35px;
}
.itemRealisationMobile .container-descriptif-machine span{
    text-align:center;
}
.itemRealisationMobile .titreFondNoir{
    float:left;
}
.itemRealisationMobile .nomRealisation{
    float: left;
    background-color: #009EE0;
    color: white;
    border-radius: 3px;
    font-family: 'Montserrat';
    font-weight: 600;
    width: auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 0px 7px;
    font-size: 1em;
    margin-bottom:10px;
}