.Offre_header{
    float:left;
    width:700px;
    margin-left:calc((100% - 700px) / 2);
    background-color:white;
    border-radius:15px;
    margin-top:-35px;
    position:absolute;
    top:-35px;
    padding:15px;
}
.Offre_header .icone{
    float:left;
    width:45px;
    height:45px;
}
.Offre_header article{
    float:left;
    width:calc(100% - 180px);
    text-align:left;
    padding-left:25px;
}
.Offre_header .contact{
    float:left;
    width:120px;
}