.Simulateur_assurance_vie{
    padding-top:75px;
}

.Form_informations_adherent{
    margin-top:35px;
}

.Form_informations_adherent > .bloc{
    margin-bottom:10px;
}

.form_nom{
    margin-left:10px;
}
.form_civilite{
    margin-right:10px;
}

.send_Form_informations_adherent{
    width:150px;
    margin-left:calc((100% - 150px) / 2);
}




.Form_situation_epargne > .bloc{
    margin-bottom:10px;
}

.info_montant_impots{
    float:left;
    width:auto;
    margin-left:15px;
    color:#03a9f4;
}
.info_montant_impots i,
.info_montant_impots ._content{
    float:left;
    width:auto;
    line-height:60px;
}
.info_montant_impots ._content{
    padding-left:10px;
    font-family:Open Sans;
    font-weight:300;
    font-size:0.8em;
    font-style:italic;
}

.send_Form_situation_epargne{
    width:150px;
    margin-left:calc((100% - 150px) / 2);
}

.Option{
    float:left;
    width:100%;
    border-radius:15px;
    border:2px solid #dedede;
    padding:15px;
}
.Option.selected{
    border:2px solid #03a9f4;
}

.Option .form_souscription{
    float:left;
    width: 80px;
    padding-right:15px;
}
.Option .form_souscription input{
    float:left;
    width: 20px;
    height:20px;
    border-radius:5px;
    margin-left:calc((100% - 20px) / 2);
}
.Option .form_souscription span{
    float:left;
    width:100%;
    font-size:0.8em;
    text-align:center;
    font-family:Open Sans;
    font-weight:300;
    font-style:italic;
    line-height:15px;
    margin-top:5px;
}
.Option .details{
    float:left;
    width:calc(100% - 80px);
    padding-left:15px;
    border-left:1px solid #dedede;
}

.Form_demande_rappel .form{
    float:left;
    width:auto;
}
.Form_demande_rappel .form input[type='checkbox']{
    float:left;
    width:20px;
    height:20px;
    border: 1px solid #dedede;
    margin-right:10px;
}