<div class="bloc">
    <footer class="BebasNeue centrer" id="footer-screen">
        <span>Conception de machines spéciales</span><span> - Fabrication de pièces (petites et moyennes séries) - Fraisage - Tournage</span>
    </footer>
</div>
<div class="bloc logo-footer backgrounded">
    <img src="/images/logo-small.svg" alt="logo-footer" class="hidden imgBackground" />
</div>

<footer class="BebasNeue" id="footer-mobile">
    <span>Conception de machines spéciales</span><span>Fabrication de pièces (petites et moyennes séries) - Fraisage - Tournage</span>
</footer>