<article class="intro">
    <h3>Welcome back {{ user.firstname }} !</h3>
    <p>
        This is your profile page. You will be able to check your<br>
        upcoming bookings and past booking. Happy Nap !
    </p>
</article>
<link rel="stylesheet" type="text/css" href="/css/customer_dashboard_intro.css" />