<div class="bloc Our_locations">

    <article class="details">
        <h2>Our locations</h2>
        <p>
            Pop & Rest<br>
            <br>
            Ground Floor - Unit 1<br>
            10-12 Bache's Street<br>
            N1 6DL<br>
            London, UK<br>
            <br>
            Tel: +44 74 9546 0742<br>
            Email: booking@popnrest.com
        </p>
        <div id="map">
            
        </div>
    </article>
    
</div>
<link rel="stylesheet" type="text/css" href="/css/our_locations.css" />
<script sync type="text/javascript" src="/js/our_locations.js"></script>