<footer>
    <div class="content">

        <div id="legal_description">
            <h5>Pop Pods Limited</h5>
            <p>
                © 2020. All rights reserved.
                <br />
                Pop Pods Ltd is a company registered in England and Wales
                <br />
                <br />
                Ground Floor - Unit 1 Bache's Street
                <br />
                N1 6DL, London, UK
            </p>
        </div>

        <div id="sitemap">
            <div>
                <h5>Space</h5>
                <br />
                <a href="">Bookings</a>
                <br />
                <a href="">FAQs</a>
                <br />
                <a href="">Property</a>
            </div>
            <div>
                <h5>Corporate</h5>
                <br />
                <a href="">Order your pod</a>
                <br />
                <a href="">Sessions</a>
            </div>
            <div>
                <h5>Community</h5>
                <br />
                <a href="">Blog</a>
            </div>
        </div>

        <div id="social_links">
            <a href="https://www.facebook.com/PopnRest/" target="_blank">
                <img src="/images/facebook.png" />
            </a>
            <a href="https://www.instagram.com/popnrest/" target="_blank">
                <img src="/images/instagram.png" />
            </a>
            <a href="https://www.linkedin.com/company/pop-&-rest" target="_blank">
                <img src="/images/linkedin.png" />
            </a>
            <a href="https://twitter.com/popnrest" target="_blank">
                <img src="/images/twitter.png" />
            </a>
        </div>

    </div>
</footer>

<link rel="stylesheet" type="text/css" href="/css/Footer.css" />