<section class="bloc Section_Contact">
    <div class="content">

        <div class="bloc Form Formulaire_Contact">

            <h2>Contactez-nous dès maintenant</h2>
            <h3>du Lundi au Vendredi de 9h - 18h</h3>

            <article>
                Vous pouvez nous joindre :<br>
                par email à l'adresse <b><a href="mailto:mickael@assuralink.fr">mickael@assuralink.fr</a></b>,<br>
                Par téléphone au <b>06.26.52.18.44</b><br>
                Via le formulaire de contact :
            </article>
            
            <div class="_icone">
                <div class="icone">
                    <img src="/images/exemples assurance/mailman.svg" />
                </div>
            </div>

            <div class="_content">

                <div class="form form_societe">
                    <label>Société - Nom - Prénom</label>
                    <input type="text" />
                </div>
                <div class="bloc">
                    <div class="form form_email">
                        <label>Email</label>
                        <input type="text" />
                    </div>
                    <div class="form form_telephone">
                        <label>Téléphone</label>
                        <input type="text" />
                    </div>
                </div>
                <div class="form form_message">
                    <label>Message</label>
                    <textarea></textarea>
                </div>

                <div class="bloc">
                    <button class="envoyer_message_contact">
                        Envoyer
                    </button>
                    <span id="resultat"></span>
                </div>
            </div>
        
        </div>

    </div>
</section>
<link rel="stylesheet" type="text/css" href="/css/Contact.css" />
<script type="text/javascript" src="/js/Contact.js"></script>