<nav>
    <div class="content">
        <img class="logo_menu" src="/images/popnrestblack.png" alt="logo_popnrest" />
        {{> Menu_User }}
        <ul>
        <li>
            <a href="/properties/oldstreet">OLDSTREET</a>
        </li>
        <li>
            <a href="/">HOME</a>
        </li>
        <li>
            <a href="https://medium.com/@popnrest">BLOG</a>
        </li>
        <li>
            <a href="https://popnrest.com/faqs">FAQs</a>
        </li>
        <li>
            <a href="https://popnrest.com/property">PROPERTY</a>
        </li>
        </ul>
    </div>
</nav>

<link rel="stylesheet" type="text/css" href="/css/menu.css" />