<div class="Profil">
    <div class="profil_infos">
        <span class="profil_username">New user</span>
    </div>
    <div class="profil_icon connected"></div>
    <i class="fa fa-ellipsis-v toogle_menu"></i>

    <div class="user_submenu">
        <a href="/users/login" class="login_button">
            Login
        </a>
        <a href="/users/booking-log">Booking Log</a>
        <a href="/users/account">Account</a>
        <button class="logout_btn">
            <i class="fa fa-sign-out-alt"></i>
            Log out
        </button>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="/css/Menu_User.css" />
<script type="text/javascript" src="/js/Menu_User.js"></script>