<section id="ourNewsletter">
    <article class="content greyBackground">

        <h2>Our Newsletter</h2>

        <div class="Form">
            <div class="bloc _form">
                <label>Full name</label>
                <input type="text" />
            </div>
            <div class="bloc _form">
                <label>Your email</label>
                <input type="text" />
            </div>
        </div>
        
        {{!-- GOOGLE MAP --}}

    </article>
</section>