<nav class="sub_menu">
    <ul>
        <li><a href="/customers/bookings-log">Booking Log</a></li>
        <li><a href="/customers/account">Account settings</a></li>
    </ul>
</nav>

<input type="hidden" id="data_current_url" value="{{ current_url }}" />

<link rel="stylesheet" type="text/css" href="/css/sub_menu.css" />
<script sync type="text/javascript" src="/js/sub_menu.js"></script>