<nav class="sub_menu">
    <a href="/users/booking-log">
        Booking Log
    </a>
    <a href="/users/account">
        Account settings
    </a>
</nav>

<link rel="stylesheet" type="text/css" href="/css/user_submenu.css" />