{{> header}}

{{> menu }}

<section>
    <div class="content">

        <div class="Form Form_login">
            <h3>Please login to access Customer Dashbord</h3>
            <div class="_form form_email error">
                <input type="text" autocomplete="off" placeholder="Email *" value="" />
            </div>
            <div class="_form form_password">
                <input type="password" autocomplete="off" placeholder="Password *" value="" />
            </div>
            <div class="bloc">
                <button class="action">Connexion</button>
            </div>
        </div>

    </div>
</section>

<script sync type="text/javascript" src="/js/customer_login.js"></script>
<link rel="stylesheet" type="text/css" href="/css/customer_login.css" />

{{> footer }}