{{> header}}

{{> menu }}

<section>
    <div class="content">

        {{> customer_dashboard_intro }}

        {{> sub_menu }}

        <article class="Upcoming_bookings">
       
            <h1>Upcoming bookings</h1>

            <div class="bloc _list">
                <div class="_header_upcoming_bookings_list">
                    <span class="date">Date</span>
                    <span class="time">Time</span>
                    <span class="duration">Duration</span>
                    <span class="location">Location</span>
                    <span class="price">Price</span>
                </div>
                <div class="_content_upcoming_bookings_list">

                </div>
            </div>
            <span class="bloc noElement">
                No upcoming bookings
            </span>
        </article>

        <article class="Past_bookings">
        
            <h1>Past bookings</h1>

            <div class="bloc _list">
                <div class="_header_past_bookings_list">
                    <span class="date">Date</span>
                    <span class="time">Time</span>
                    <span class="duration">Duration</span>
                    <span class="location">Location</span>
                    <span class="price">Price</span>
                </div>
                <div class="_content_past_bookings_list">

                </div>
            </div>
            <span class="bloc noElement">
                No past bookings
            </span>
        </article>

        <script type="text/x-custom-template" id="template_Booking">
            <div class="bloc Booking">
                <span class="date">Date</span>
                <span class="time">Time</span>
                <span class="duration">Duration</span>
                <span class="location">Location</span>
                <span class="price">Price</span>
            </div>
        </script>

        {{> customer_our_locations }}

    </div>
</section>

<script sync type="text/javascript" src="/js/customer_dashboard.js"></script>
<link rel="stylesheet" type="text/css" href="/css/customer_dashboard.css" />

{{> footer }}