{{> Menu }}

<input type="hidden" id="data_theme_mode" value="{{ theme_mode }}" />

<section id="head">
    <div class="content greyBackground">
        <div class="illustration bloc">
        <article>
            <h1>Hello! Come to recharge in our pod.</h1>
            <h2>Sign up for a 50% discount on your first booking</h2>
            <a href="/oldstreet" class="primary">
                Book now
            </a>
            <a href="#postCovidMeasures" class="secondary">
                Our covid mesures
            </a>
        </article>
        </div>
    </div>
</section>

<section id="whoWeAre">
    <div class="content greyBackground">
        <article>
        <h3>Rest, Refresh and Relax in London</h3>
        <p class="bloc">
            Welcome to Pop & Rest! The first-ever space dedicated to daytime
            naps and meditation launched in the UK. Book one of our private
            pods or a single mini-suite to take a nap, sleep and recharge. Our
            first listing is in Old Street, London, and we will launch a new
            location pretty soon! Hourly booking and contactless check-in
            available. Come whenever you need a rest.
        </p>
        </article>
    </div>
</section>

<section id="howItWorks">
    <div class="content">

        <div class="service">
            <img src="/images/icon_booking.svg" alt="book icon" />
            <h5>Book</h5>
            <p>
                Book your private space for 30 mins up to 4 hours easily with your
                name and email.
            </p>
        </div>

        <div class="service">
            <img src="/images/icon_confirmation.svg" alt="confirmation icon" />
            <h5>Confirmation</h5>
            <p>
                You'll receive an email confirming your booking.
            </p>
        </div>

        <div class="service">
            <img src="/images/icon_home_checkin.svg" alt="check-in icon" />
            <h5>Check-in</h5>
            <p>
                A receptionist will welcome you and set you up in your private and
                peaceful pod.
            </p>
        </div>

        <div class="service">
            <img src="/images/icon_home_lotus.svg" alt="enjoy your break icon" />
            <h5>Enjoy your break</h5>
            <p>
                Just lie down and relax. You can power-nap and meditate in peace.
            </p>
        </div>

    </div>
</section>

<section id="postCovidMeasures">
    <div class="content yellowBackground">

        <h2>Our Covid Measures</h2>

        <div class="bloc covidMeasuresList">
            <div class="covidMeasure">
                <img src="/images/icon_cleaning.svg" alt="limite users icon" />
                <h6>Limited users</h6>
                <p>
                    Less than 3-4 people in any given time in our spaces. Our pods
                    are made of thick panels and installed next to each other with a
                    space gap in between. There is at least a 1.5 metre distance
                    between doors. Thus, you can feel safe in the knowledge that you
                    are unlikely to get close to another user.
                </p>
            </div>
            <div class="covidMeasure">
                <img src="/images/icon_cleaning.svg" alt="air-filtering icon" />
                <h6>Air-filtering</h6>
                <p>
                    Each space is now equipped with an air filtration system that
                    helps kill bacteria in the air. Every day we keep the filter
                    running, along with vacuuming and disinfecting the floors twice
                    - in the morning and evening - to ensure we get rid of any virus
                    droplets.
                </p>
            </div>
            <div class="covidMeasure">
                <img src="/images/icon_cleaning.svg" alt="extra cleaning icon" />
                <h6>Extra cleaning</h6>
                <p>
                    Each user will have access to hand sanitisers and wipes before &
                    after her/his stay with us. Of course, we change the bed linens
                    after every use. We encourage all of our users to wash their
                    hands regularly and to avoid booking a pod if they feel unwell
                    (body temperature, dry continuous cough).
                </p>
            </div>
        </div>

    </div>
</section>

<section id="unwind">
    <div class="content">
        <article>
            <h2>Unwind & Rest in Privacy</h2>
        </article>
    </div>
</section>

<section id="unlockYourPrivateSpace">
    <article class="content greyBackground">

        <h3>Unlock your private space to recharge</h3>

        <p class="bloc">
            We are a prop-tech startup at the intersection of smart hospitality
            and wellbeing. We aim to revolutionise the usage of under-utilised
            spaces. Our tech-enabled ecosystem allows us to convert, launch and
            operate decentralised rooms seamlessly. Pop & Rest enable 24/7
            access and different uses - from taking a nap to therapy, quiet work
            and overnight stays - for nearby employees, remote workers and
            travellers. Each of our spaces offers the ultimate wellness and
            quality of sleep experience.
        </p>

        <a href="/" class="primary">
            Book now
        </a>

    </article>
</section>

<section id="onDemandSpaces">
    <article class="content">
        <h3>On-demand spaces</h3>
        <ul>
        <li>
            <a href="/">
            <div class="illustration" id="getDiscount"></div>
            <h6>Get a discount</h6>
            </a>
        </li>
        <li>
            <a href="/">
            <div class="illustration" id="listYourSpace"></div>
            <h6>List your space</h6>
            </a>
        </li>
        <li>
            <a href="/">
            <div class="illustration" id="companyOffering"></div>
            <h6>Company offering</h6>
            </a>
        </li>
        </ul>
    </article>
</section>

<section id="partnersAndPress">
    <article class="content">

        <h2>Partners & Press</h2>

        <p class="bloc">
            We partner with amazing brands and have been in the press since our
            launch
        </p>

    </article>
</section>

{{> Newsletter }}

{{> Footer }}

<script type="text/javascript" src="/js/tools/theme_changer.js"></script>

<link rel="stylesheet" type="text/css" href="/css/homepage.css" />