{{> Menu }}

<section id="head">
    <div class="content greyBackground">
        <div class="illustration bloc">
        <article>
            <h1>Hello! Come to recharge in our pod.</h1>
            <h2>Sign up for a 50% discount on your first booking</h2>
            <a href="/oldstreet" class="primary">
                Book now
            </a>
            <a href="#postCovidMeasures" class="secondary">
                Our covid mesures
            </a>
        </article>
        </div>
    </div>
</section>

<section id="howItWorks">
    <div class="content">

        <div class="service">
            <img src="/images/icon_booking.svg" alt="book icon" />
            <h5>Book</h5>
            <p>
                Book your private space for 30 mins up to 4 hours easily with your
                name and email.
            </p>
        </div>

        <div class="service">
            <img src="/images/icon_confirmation.svg" alt="confirmation icon" />
            <h5>Confirmation</h5>
            <p>
                You'll receive an email confirming your booking.
            </p>
        </div>

        <div class="service">
            <img src="/images/icon_home_checkin.svg" alt="check-in icon" />
            <h5>Check-in</h5>
            <p>
                A receptionist will welcome you and set you up in your private and
                peaceful pod.
            </p>
        </div>

        <div class="service">
            <img src="/images/icon_home_lotus.svg" alt="enjoy your break icon" />
            <h5>Enjoy your break</h5>
            <p>
                Just lie down and relax. You can power-nap and meditate in peace.
            </p>
        </div>

    </div>
</section>

<section id="onDemandSpaces">
    <article class="content">
        <h3>On-demand spaces</h3>
        <ul>
        <li>
            <a href="/">
            <div class="illustration" id="getDiscount"></div>
            <h6>Get a discount</h6>
            </a>
        </li>
        <li>
            <a href="/">
            <div class="illustration" id="listYourSpace"></div>
            <h6>List your space</h6>
            </a>
        </li>
        <li>
            <a href="/">
            <div class="illustration" id="companyOffering"></div>
            <h6>Company offering</h6>
            </a>
        </li>
        </ul>
    </article>
</section>

{{> Newsletter }}

<link rel="stylesheet" type="text/css" href="/css/homepage.css" />