{{> Menu }}

<div class="bloc content">

    {{> user_welcoming }}

    {{> user_submenu }}
    <script>
        $(".sub_menu a[href='/users/booking-log']").addClass("active");
    </script>

    <article id="Upcoming_bookings">

        <h1>Upcoming bookings</h1>

        <div class="_header_bookings_list">
            <span class="date">Date</span>
            <span class="time">Time</span>
            <span class="duration">Duration</span>
            <span class="location">Location</span>
            <span class="price">Price</span>
        </div>
        <div class="bloc _content"></div>

    </article>

    <article id="Past_bookings">

        <h1>Past bookings</h1>

        <div class="_header_bookings_list">
            <span class="date">Date</span>
            <span class="time">Time</span>
            <span class="duration">Duration</span>
            <span class="location">Location</span>
            <span class="price">Price</span>
        </div>
        <div class="bloc _content"></div>

    </article>

</div>

<script type="text/javascript" id="template_BookingLog">
    <div class="BookingLog">
        <span class="date"></span>
        <span class="time"></span>
        <span class="duration"></span>
        <span class="location"></span>
        <span class="price"></span>
    </div>
</script>

<script type="text/javascript" src="/js/user_bookingLog.js"></script>
<link rel="stylesheet" type="text/css" href="/css/user_bookingLog.css" />
